@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --button-100: rgba(242, 240, 240, 0.75);
  --button-active: rgba(192, 192, 192, 0.75);

  --green-100: #8dcec3;
  --green-200: #57b1a4;
  --green-300: #399a8b;
  --green-400: #137e6e;
  --green-500: #1f6f66;  /*botão adicionar*/
  --green-600: #0a584c;
  --green-700: #07453b;
  --green-800: #05322a;
  --green-900: #021f19;

  --butonHover: #299c91;

  --gray-100: #e1e1e6;
  --gray-200: #c4c4cc;
  --gray-300: #e0e0e0;
  --gray-400: #8d8d99;
  --gray-500: #7c7c8a;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #161B22; /*caixa secundária*/
  --gray-900: #0D1117; /*background-color*/

  --bg1: #f1f1f1;
  --bg2: #efefef;
  --bg3: #c1c1c1; /* caixa secundária */
  --bg4: #536176;
  --border: #646464;   /* borda preto suave */
  --text: #111111;     /* texto preto levemente suavizado */
  --text2: #222222;    /* texto secundário, ainda escuro */

  
  --primary: #1f6f66;
  --secondary: #399a8b;
  
    --border-width: 2px;


  --red: #cb1515;
  --red-100: #B33C3C; 
  --alert: #D97706;

  --bgModal: rgba(0, 0, 0, 0.8);

  /* Scrollbar fallback para navegadores baseados em WebKit */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2px;

}
::-webkit-scrollbar-track {
  background-color: var(--bg3);
}

}


.dark {

  --bg1: #0D1117;
  --bg2: #161B22;
  --bg3: #484850;
  --bg4: #262c35;
  --border: #434242;
  --text: #a0a0a0;
  --text2: #181818;
}

span {
  font-size: 1rem;
}


body,
input,
textarea,
button {
  font: 400 16px "roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

/* Esconde scrollbars em navegadores compatíveis */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari e Chrome */
}

.custom-scrollbar {
  scrollbar-gutter: stable;
}

.border {
  border-width: 2px;
}
